<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDo List</title>
</head>
<body>
<h1>ToDo List</h1>
<form action="#" th:action="@{/tasks}" method="post">
    <input type="text" name="description" placeholder="New Task" required>
    <button type="submit">Add Task</button>
</form>

<form action="#" th:action="@{/tasks/deleteLast}" method="post">
    <button type="submit">Delete Last Task</button>
</form>

<ul>
    <li th:each="task : ${tasks}">
        <span th:text="${task.description}"></span>
    </li>
</ul>
</body>
</html>